<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>crypto balance</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" @click="page='home'">Crypto Balance</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li :class="{'active':page=='home'}"><a href="#" @click="page='home'" >Home</a></li>
                        <li :class="{'active':page=='options'}"><a href="#" @click="page='options'">Options</a></li>
                        <li :class="{'active':page=='about'}"><a href="#" @click="page='about'">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <input class="navbar-form form-control" :class="[showall ? 'btn-primary' : '']" type="button" :value="[showall ? 'Hide Empty' : 'Show All']" @click="showall = !showall">
                        </li>
                        <li>
                            <input class="navbar-form form-control" type="button" value="Save" @click="saveBalances">
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="container" v-if="page=='home'">
                <div class="page-header">
                    <h1>Top cryptocurrencies</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>{{(total * fiat[baseFiat] ).toFixed(2)}} {{baseFiat}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="currency in currencies" v-show="showall || !balanceIsEmpty(currency.ticker)">
                            <td>{{currency.ticker}}</td>
                            <td>{{currency.name}}</td>
                            <td>{{(currency.price * fiat[baseFiat]).toFixed(2)}} {{baseFiat}}</td>
                            <td><input type="number" v-model="balances[currency.ticker]" ></td>
                            <td>{{ Number( (typeof(balances[currency.ticker]) != 'undefined' ? balances[currency.ticker] : "0" ) * currency.price * fiat[baseFiat] ).toFixed(2) }} {{baseFiat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container" v-if="page=='about'">
                <div class="page-header">
                    <h1>About</h1>
                </div>
                <div>
                    <p>This site is a small single page application on VueJS. Cryptocurrency rates are obtained from the 
                        CoinCap.io API. Balances are stored in your browser's <a href="https://www.w3schools.com/html/html5_webstorage.asp" target="_blank">localStorage</a>. 
                        Your balance therefore stays private and is not sent or stored on any server.</p>
                    <p>Fiat currency conversion rates are obtained from exchangeratesapi.io.</p>
                    <p>Enter the amount you have of each cryptocurrency in each row and click save to save it to your browser storage.</p>

                    <h2>Links</h2>
                    <ul>
                        <li><a href="https://docs.coincap.io/?version=latest" target="_blank">Coincap.io API</a></li>
                        <li><a href="https://exchangeratesapi.io/" target="_blank">Exchange Rates API</a></li>
                        <li><a href="https://vuejs.org/">Vue JS</a></li>
                    </ul>

                    <h2>Donate</h2>
                    <p>Feel free to donate if you wish to contribute to cover domain costs and future improvements.</p>
                    <ul>
                        <li>Bitcoin: 37m1MRBCCVm5cc386HLfjopQxk9wUm4gyR</li>
                        <li>Bitcoin Cash: 136VUczgZG6Qrz7RyYnx7mAkqjdy2Lt3fG</li>
                        <li>Litecoin: Lhs3y9YgRfpxSbrJEWx6ySSRYcYeVdX6ig</li>
                        <li>Dogecoin: DRvYrymgSTC6N3G8rGdGWhYniyZnZojALM</li>
                    </ul>
                </div>
            </div>

            <div class="container" v-if="page=='options'">
                <div class="page-header"><h1>Options</h1></div>
                <form enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="base-currency" class="col-sm-2 col-form-label">Import Balances</label>
                        <div class="col-sm-10">
                            <input type="file" accept="application/JSON" @change="filesChange($event.target.files)" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="base-currency" class="col-sm-2 col-form-label">Export Balances</label>
                        <div class="col-sm-10">
                            <a class="btn btn-default" :href="exportUrl" download="crypto-balance.json" @click="prepareExportUrl()">Export</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="base-currency" class="col-sm-2 col-form-label">Base Currency</label>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="baseFiat">
                                <option v-for="(rate, ticker) in fiat" :value="ticker">{{ticker}} ({{rate}})</option>
                            </select>
                        </div>
                      </div>
                </form>
            </div>


            
        </div>
        <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                showall: true,
                page: 'home',
                apiReturn: [],
                balances: {},
                fiat: {},
                baseFiat: "USD",
                currencies : [],
                exportUrl : '#'
            },
            computed:{
                total: function(){
                    var total = 0.0
                    this.currencies.forEach(function(currency){
                        if(typeof(app.balances[currency.ticker]) != 'undefined')
                            total += app.balances[currency.ticker] * currency.price;
                    })
                    return total
                }
            },
            mounted() {
                axios.get('https://api.coincap.io/v2/assets')
                    .then(response => ( this.parseApi(response) ))

                axios.get('https://api.exchangeratesapi.io/latest?base=USD')
                    .then(response => ( this.parseFiat(response)))
                
                if(localStorage.getItem('balances') !== null){
                    this.balances = JSON.parse(localStorage.getItem('balances'))
                    this.showall = false
                }

                if(localStorage.getItem('baseFiat') !== null ){
                    this.baseFiat = localStorage.getItem('baseFiat')
                }
            },
            methods: {
                filesChange(files) {
                    if (!files.length) return;
                    
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var contents = e.target.result
                        app.loadJson(contents)
                        app.page='home'
                    };
                    reader.readAsText(files[0]);
                },
                loadJson($json) {
                    this.balances = JSON.parse($json)
                },
                prepareExportUrl(){
                    var data = JSON.stringify(this.balances)
                    var type = 'application/json'

                    this.exportUrl = window.URL.createObjectURL(
                        new Blob([data], { type })
                    );
                },
                balanceIsEmpty(ticker){
                    if (typeof(this.balances[ticker]) != 'undefined' && this.balances[ticker] > 0 ) 
                        return false
                    else
                        return true
                },
                saveBalances() {
                    localStorage.setItem('balances',JSON.stringify(this.balances))
                    localStorage.setItem('baseFiat',this.baseFiat)
                },
                parseFiat(response) {
                    this.fiat = response.data.rates
                },
                parseApi(response) {
                    this.currencies = []
                    response.data.data.forEach(ticker => (
                        this.currencies.push({
                            'ticker' : ticker.symbol,
                            'name' : ticker.name,
                            'price' : parseFloat(ticker.priceUsd)
                        })
                    ))
                }
            }
        })
        </script>
    </body>
</html>
